<?xml version="1.0" encoding="UTF-8" ?>
<odoo>

    <record id="action_trigger_pdf" model="ir.actions.server">
        <field name="name">Send Invoice Mail with Attacgnebt</field>
        <field name="model_id" ref="base.model_ir_ui_menu"/>
        <field name="state">code</field>
        <field name="code">
env['jishee.jishee.table'].custom_demostration()
        </field>
    </record>
   <menuitem id="jishee_menu" name="Jishee zagvar" sequence="5"/>
<!--    <menuitem-->
<!--        id="menu_jishee_under_email_marketing"-->
<!--        name="Single bill"-->
<!--        parent="mass_mailing.mass_mailing_menu_root"-->
<!--        action="action_jishee1"-->
<!--        sequence="110" />-->
    <menuitem id="sub_jishee_menu"
              name="Жишээ жагсаалт"
              parent="jishee_menu"
              action="action_jishee"
              sequence="10"/>

    <menuitem id="template_sub_menu" name="Мэйлийн загвар" parent="jishee_menu" action="action_mail_from_window" sequence="11"/>

</odoo>