<?xml version="1.0" encoding="UTF-8" ?>
<odoo>

<!--      <menuitem-->
<!--        id="menu_jishee_under_email_marketing"-->
<!--        name="Single bill"-->
<!--        parent="mass_mailing.mass_mailing_menu_root"-->
<!--        action="action_jishee2"-->
<!--        sequence="110"-->
<!--      />-->

    <record id="action_jishee2" model="ir.actions.act_window">
        <field name="name">Илгээсэн нэхэмжлэлүүд</field>
        <field name="res_model">mailing.mailing</field>
        <field name="view_mode">list,kanban,calendar,form</field>
        <field name="domain">[('user_id', '=', 12)]</field>
        <field name="context">{'form_view_initial_mode': 'edit', 'force_detailed_view': 'true'}</field>
        <field name="target">current</field>
    </record>

<!--     <menuitem id="sync_billing_users"-->
<!--              name="Synchronization"-->
<!--              parent="mass_mailing.mass_mailing_menu_root"-->
<!--              action="action_billing_read_window"-->
<!--              sequence="111"/>-->

    <record id="action_billing_read_window" model="ir.actions.act_window">
        <field name="name">Төлбөрийн мэдээлэл (Billing)</field>
        <field name="res_model">billing.read</field>
        <field name="view_mode">list,form</field>
        <field name="target">current</field>
    </record>

     <menuitem
             id="sync_billing_users"
             name="Billing read month"
             sequence="10"
             action="action_billing_read_window"
     />

    <record id="view_billing_read_list" model="ir.ui.view">
        <field name="name">billing.read.list</field>
        <field name="model">billing.read</field>
        <field name="arch" type="xml">
            <list string="Billing Synchronization">
                <field name="acc_number"/>
                <field name="email"/>
                <field name="bylling_cycle_id"/>
                <field name="period_start"/>
                <field name="period_end"/>
                <button name="execution_something"
                        string="PDF"
                        type="object"
                        class="btn-primary"/>
            </list>
        </field>
    </record>

</odoo>