<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <record id="action_send_gmobile_invoice_mail" model="ir.actions.server">
        <field name="name">Send Invoice Mail</field>
        <field name="model_id" ref="base.model_ir_ui_menu"/>
        <field name="state">code</field>
        <field name="code">
env['gmobile.invoice.service'].send_custom_page_mail()
        </field>
    </record>

    <menuitem id="menu_gmobile_invoice_root" name="Gmobile Invoice" sequence="10"/>
    <menuitem id="menu_send_gmobile_invoice_mail"
              name="Send Custom Page Mail"
              parent="menu_gmobile_invoice_root"
              action="action_send_gmobile_invoice_mail"
              sequence="20"/>
</odoo>

<!--<odoo>-->
<!--    <record id="action_gmobile_invoice_dashboard" model="ir.actions.client">-->
<!--        <field name="name">Gmobile Invoice</field>-->
<!--        <field name="tag">gmobile_invoice.dashboard</field>-->
<!--    </record>-->
<!--    <menuitem id="menu_gmobile_invoice_dashboard" name="Invoice Dashboard" action="action_gmobile_invoice_dashboard" sequence="10"/>-->
<!--</odoo>-->